/**********
/* SITE BASE COLORS */
$primary_green: #093e2a;
$primary_red: #491c14;
$text_primary: #010101;
$text_secondary: #aaaaaa;
$white: #ffffff;
$text_disabled: #d9d9d9;
$background_1: #fafafa;
$background_2: #093e2a;
$border: #aaaaaa;
$border_2: #093e2a;
$mistake: #e5160b;
$attention: #e87b0e;
$success: #379e13;
