.gr-about-us {
    // background-image: url(/_nuxt/assets/img/gr-about-us/bg2.png);
    // background-size: auto 519px;
    // background-repeat: no-repeat;
    // background-position: top center;
    margin-bottom: 64px;
    &__content {
        // width: 1900px;
        margin: 0 auto;
        // height: 519px;
        display: flex;
        justify-content: center;
    }
    &__left {
        // flex-grow: 1;
        display: flex;
        // justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        flex-basis: 40%;
    }
    &__bg {
        position: absolute;
        background-image: url("@/assets/img/gr-about-us/cone.png");
        background-repeat: no-repeat;
        background-position: left 347px center;
        width: 1118px;
        height: 519px;
        background-color: $primary_green;
        position: absolute;
        left: 448px;
        width: 100vw;
        z-index: -1;
    }
    &__row {
        display: flex;
        position: relative;
        margin-bottom: 64px;
        justify-content: space-between;
        width: 1200px;
    }

    &__titles {
        padding: 0 40px 0 0;
    }

    &__info {
        font-size: 18px;
        line-height: 22px;
        display: flex;
        max-width: 681px;
        letter-spacing: 0.02em;
        color: $white;
        width: 681px;
        align-items: flex-end;
    }
    &__video {
        width: 1280px;
        margin: 0 auto;
        position: relative;
    }
}
