.gr-about-us {
    margin-bottom: 170px;
    &__content {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-basis: 40%;
    }
    &__bg {
        position: absolute;
        background-image: url("@/assets/img/gr-about-us/cone.png");
        background-repeat: no-repeat;
        background-position: left 347px center;
        width: 1118px;
        height: 519px;
        background-color: $primary_green;
        position: absolute;
        left: 446px;
        width: 100vw;
        z-index: -1;
    }
    &__row {
        display: flex;
        position: relative;
        margin-bottom: 64px;
        justify-content: space-between;
        width: 100%;
    }
    &__titles {
        padding: 0 40px 0 0;
    }
    &__info {
        font-size: 18px;
        line-height: 22px;
        display: flex;
        max-width: 681px;
        letter-spacing: 0.02em;
        color: $white;
        width: 681px;
        align-items: flex-end;
    }
    &__video {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
}
@media (max-width: grid-width($desktop)) {
    .gr-about-us {
        margin-bottom: 120px;
        &__bg {
            background-image: none;
            height: 292px;
            left: 410px;
        }
        &__info {
            font-size: 16px;
            padding-left: 33px;
        }
        &__video {
            video {
                width: 100%;
            }
        }
    }
}

@media (max-width: grid-width($laptop)) {
    .gr-about-us {
        margin-bottom: 100px;
        &__bg {
            display: none;
        }
        &__row {
            flex-direction: column;
            margin-bottom: 40px;
        }
        &__titles {
            margin-bottom: 34px;
        }
        &__info {
            width: 100%;
            max-width: 100%;
            color: $text_primary;
            padding: 0;
        }
        &__video {
            video {
                width: 100%;
            }
        }
    }
}
@media (max-width: grid-width($tablet)) {
    .gr-about-us {
        margin-bottom: 80px;
        &__row {
            margin-bottom: 32px;
        }
        &__titles {
            margin-bottom: 24px;
        }
    }
}
