.gr-contacts {
    &__head {
        display: grid;
        grid-template-columns: repeat(auto-fill, 590px);
        justify-content: space-between;
    }
    &__general {
        margin-bottom: 40px;
        // margin-top: 58px;
    }
    &__map {
        margin-bottom: 160px;
    }
}

@media (max-width: grid-width($desktop)) {
    .gr-contacts {
        &__head {
            grid-template-columns: repeat(auto-fill, 484px);
        }
        &__general {
            // margin-bottom: 40px;
            // margin-top: 58px;
        }
        &__map {
            margin-bottom: 120px;
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .gr-contacts {
        &__head {
            grid-template-columns: repeat(auto-fill, 100%);
        }
        &__general {
        }
        &__map {
            margin-bottom: 100px;
        }
    }
}
@media (max-width: grid-width($tablet)) {
    .gr-contacts {
        &__head {
        }
        &__general {
        }
        &__map {
            margin-bottom: 80px;
        }
    }
}
