.gr-callback {
    color: $text_primary;
    &--index {
        color: $white;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__phone {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        letter-spacing: 0.03em;
        color: inherit;
        text-decoration: none;
    }
    &__link {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        color: inherit;
        text-decoration: none;
    }
}

@media (max-width: grid-width($desktop)) {
    .gr-callback {
        flex-shrink: 0;
        order: 3;
        margin-left: 24px;
        &__phone {
            color: $text_primary;
        }
        &__link {
            color: $text_primary;
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .gr-callback {
        &__phone {
            font-size: 16px;
            line-height: 20px;
        }
        &__link {
            font-size: 10px;
            line-height: 12px;
        }
    }
}
@media (max-width: grid-width($tablet)) {
    .gr-callback {
        display: none;
        &__phone {
        }
        &__link {
        }
    }
}
