.gr-callback {
    color: $text_primary;
    &--index {
        color: $white;
    }
    &--error {
        color: $white;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__phone {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: inherit;
        text-decoration: none;
    }
    &__link {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: inherit;
        cursor: pointer;
        &--header {
            text-decoration: none;
        }
    }
}

@media (max-width: grid-width($desktop)) {
    .gr-callback {
        flex-shrink: 0;
        order: 3;
        margin-left: 24px;
        &--index {
            color: $text_primary;
        }
        &--mob-menu {
            align-items: flex-start;
            margin-left: 0;
            margin-bottom: 24px;
            display: flex;
            color: $text_primary;
        }
        &__link {
            // &--mob-menu {
            //     margin-top: 6px;
            //     text-decoration: none;
            //     &:hover {
            //         color: $primary_green;
            //     }
            // }
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .gr-callback {
        &__phone {
            font-size: 16px;
            line-height: 20px;
        }
        &__link {
            font-size: 10px;
            line-height: 12px;
            &--mob-menu {
                font-size: 12px;
            }
        }
    }
}
@media (max-width: grid-width($tablet)) {
    .gr-callback {
        &--index {
            display: none;
        }
    }
}
