.gr-footer {
    padding: 120px 0;
    background-color: $primary_green;
    background-image: url(@/assets/img/gr-footer/cone_left.png), url(@/assets/img/gr-footer/cone_right.png);
    background-repeat: no-repeat;
    background-position:
        left -49px bottom -153px,
        right -292px bottom -233px;
    margin-top: 160px;
    font-size: 14px;
    &__logo {
        display: block;
        margin-bottom: 32px;
        height: auto;
        path {
            fill: $white;
        }
        svg {
            width: 396px;
        }
    }

    &__row {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, 288px);
        margin-bottom: 30px;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
    }
    &__contact {
        display: flex;
        align-items: baseline;
        line-height: 17px;
        letter-spacing: 0.02em;
        color: $white;
        svg {
            margin-right: 10px;
            flex-shrink: 0;
        }
    }
    &__contact-link {
        text-decoration: none;
        color: inherit;
        margin-bottom: 13px;
    }
    &__copyright {
        display: flex;
        align-items: center;
        color: $white;
        svg {
            margin-right: 10px;
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        color: $white;
    }
    &__link {
        line-height: 17px;
        letter-spacing: 0.02em;
        margin-bottom: 10px;
        text-decoration: underline;
    }
    &__subscribe {
        margin-bottom: 30px;
        font-family: Montserrat;

        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0.02em;
        color: $white;
        p {
            margin-bottom: 13px;
        }
    }
    &__subscribe-btn {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0.02em;
    }
    &__socials {
    }
}
@media (max-width: grid-width($desktop)) {
    .gr-footer {
        padding: 39px 0;
        background-image: url(/_nuxt/assets/img/gr-footer/cone_left.png);
        background-position: left 67px bottom 155px;
        background-size: 509px;
        margin-top: 120px;
        &__logo {
            path {
            }
            svg {
                width: 233px;
            }
        }

        &__row {
            grid-template-columns: repeat(auto-fill, 234px);
        }
        &__contacts {
        }
        &__contact {
            svg {
            }
        }
        &__contact-link {
        }
        &__copyright {
            svg {
            }
        }
        &__links {
        }
        &__link {
        }
        &__subscribe {
            p {
            }
        }
        &__subscribe-btn {
        }
        &__socials {
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .gr-footer {
        padding: 46px 0 23px;
        background-image: url(/_nuxt/assets/img/gr-footer/cone_right.png);
        background-position: center;
        background-size: 731px;
        margin-top: 100px;
        &__logo {
            path {
            }
            svg {
                width: 157px;
            }
        }

        &__row {
            grid-template-columns: repeat(auto-fill, 356px);
            row-gap: 40px;
        }
        &__contacts {
        }
        &__contact {
            svg {
            }
        }
        &__contact-link {
        }
        &__copyright {
            svg {
            }
        }
        &__links {
        }
        &__link {
        }
        &__subscribe {
            p {
            }
        }
        &__subscribe-btn {
        }
        &__socials {
        }
    }
}
@media (max-width: grid-width($tablet)) {
    .gr-footer {
        padding: 54px 0;
        background-size: 813px;
        background-position: right -452px bottom;
        &__logo {
            path {
            }
            svg {
                width: 320px;
            }
        }

        &__row {
        }
        &__contacts {
        }
        &__contact {
            svg {
            }
        }
        &__contact-link {
        }
        &__copyright {
            font-size: 12px;
            svg {
            }
        }
        &__links {
        }
        &__link {
        }
        &__subscribe {
            p {
            }
        }
        &__subscribe-btn {
            width: 100%;
        }
        &__socials {
        }
    }
}
