.gr-main-slider {
    position: relative;
    height: 1080px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__list {
        width: 100%;
        height: 100%;
        overflow: visible;
    }
    &__slide {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: none;
        align-items: center;
        justify-content: center;
        position: relative;
        &--active {
            display: flex;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__nav-buttons {
        width: 1280px;
        display: flex;
        justify-content: space-between;
        z-index: 5;
        align-items: center;
        position: absolute;
        height: 60px;
        padding: 0 40px;
    }
    &__nav-button {
        color: $white;
        cursor: pointer;
        path {
            fill: $white;
        }
        rect {
            stroke: $white;
            stroke-width: 2px;
        }
        &:hover {
            path {
                fill: $text_primary;
            }
            rect {
                fill: $white;
            }
        }
    }
    &__dots {
        width: 100%;
        bottom: -395px;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        display: flex;
        list-style: none;
        justify-content: center;
        padding-right: 40px;
    }
    &__dot {
        box-sizing: border-box;
        margin: 15px;
        & button {
            background-color: #d9d9d9;
            border-radius: 50%;
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            height: 18px;
            font-size: 0;
            line-height: 0;
            border: none;
            padding: 0;
            width: 18px;
        }
        &--current button,
        &:hover button {
            background: #093e2a;
            border: 1px solid #525252;
        }
    }
    &__text {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 104px;
        line-height: 130px;
        flex-direction: column;
        color: $white;
        position: absolute;
        letter-spacing: 0.05em;
        background-color: rgba(0, 0, 0, 0.3);
        span {
            font-weight: 400;
            font-size: 26px;
            line-height: 32px;
            letter-spacing: 0;
            margin-top: 24px;
        }
    }
    &__image {
        position: relative;
        top: 0;
    }
}

@media (max-width: grid-width($desktop)) {
    .gr-main-slider {
        height: 546px;
        &__dots {
            bottom: -214px;
        }
        &__nav-buttons {
            width: 100%;
            padding: 15px;
        }
        &__text {
            margin: 0 auto;
            text-align: center;

            font-size: 64px;
            line-height: 64px;
            letter-spacing: 0.05em;
            padding: 0 146px;
            span {
                font-size: 24px;
                font-weight: 400;
                line-height: 29px;
                letter-spacing: 0em;
                padding: 0 10px;
                margin-top: 36px;
            }
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .gr-main-slider {
        height: 497px;
        &__dots {
            bottom: -207px;
        }
        &__dot {
            &--current button,
            &:hover button {
                background: #093e2a;
                border: 1px solid #525252;
            }
        }
        &__nav-buttons {
            width: 100%;
            padding: 15px;
        }
        &__text {
            width: 548px;
            font-size: 56px;

            span {
                font-size: 16px;

                line-height: 19px;
            }
        }
    }
}
@media (max-width: grid-width($tablet)) {
    .gr-main-slider {
        height: 218px;
        margin-bottom: 44px;
        &__dots {
            bottom: 0px;
            position: relative;
            padding: 0;
        }
        &__dot {
            margin: 8px;
            & button {
                width: 16px;
                height: 16px;
                background-color: transparent;
                border: 1px solid $border_2;
            }
            &--current button,
            &:hover button {
                background: $border_2;
                border: 1px solid $border_2;
            }
        }
        &__nav-buttons {
            width: 100%;
            height: auto;
            position: absolute;
            bottom: -44px;
            padding: 0 8px;
        }
        &__nav-button {
            color: $white;
            cursor: pointer;
            svg {
                width: 32px;
                height: 32px;
            }
            path {
                fill: $border;
            }
            rect {
                stroke: $border;
                stroke-width: 2px;
            }
            &:hover {
                path {
                    fill: $white;
                }
                rect {
                    stroke: $text_primary;
                    fill: $text_primary;
                }
            }
        }
        &__text {
            font-size: 32px;
            line-height: 39px;
            width: 252;
            span {
                width: 260px;
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}
