@keyframes slide-in {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}
@keyframes slide-out {
    from {
        right: 0;
    }
    to {
        right: -100%;
    }
}

.gr-mob-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.411);
    top: 0;
    z-index: 1000;

    &__content {
        width: 667px;
        height: 100%;
        right: 0;
        background-color: $white;
        position: fixed;
        padding: 0 16px;

        animation-name: slide-out;
        animation-duration: 1s;
        overflow-y: scroll;
        &--show {
            animation-name: slide-in;
            animation-duration: 1s;
        }
    }
    &__information {
        background-image: url("@/assets/img/gr-mob-menu/cone.png");
        background-repeat: no-repeat;
        background-position: right 15px bottom 15px;
        padding-bottom: 160px;
    }

    &__header {
        display: flex;
        padding: 25px 0;
        margin-bottom: 27px;
    }
    &__logo {
        margin-right: auto;

        path {
            fill: $primary_green;
        }
    }

    &__close {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        padding: 0;
        svg {
            width: 25px;
            height: 25px;
        }
        path {
            fill: $text_primary;
        }
    }
    hr {
        color: #525252;
        margin-bottom: 10px;
    }
    &__callback {
        align-items: flex-start;
        margin-left: 0;
        margin-bottom: 24px;
        .gr-callback__link {
            margin-top: 6px;
            text-decoration: underline;
            &:hover {
                color: $primary_green;
            }
        }
    }
    &__info {
        svg {
            margin-right: 8px;
        }
    }
    &__info-item {
        display: flex;
        align-items: baseline;
        margin-bottom: 11px;
        text-decoration: none;
        color: $text_primary;
    }
    &__list {
        flex-direction: column;
        display: flex;
        margin-left: auto;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__link {
        color: $text_primary;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: 400;
        position: relative;
        line-height: 20px;

        &:hover {
            font-weight: 700;
        }
        &.router-link-active {
            font-size: 16px;
            line-height: 19px;
            font-weight: 700;
            color: $primary_green;
            &::before {
                content: "";
                height: 20px;
                width: 3px;
                position: relative;
                background-color: $text_primary;
                margin-right: 13px;
                top: 0;
            }
        }
    }

    &__child-list {
        position: relative;
        padding: 10px;
        width: 100%;

        list-style: none;
        padding: 30px 0 0 0;
    }
    &__child-link {
        color: $text_primary;
        text-decoration: none;
        font-weight: 400;
        position: relative;
        line-height: 20px;
        &:hover {
            font-weight: 700;
        }
    }
    &__child__item {
        margin-bottom: 10px;
    }
    &__item {
        flex-wrap: wrap;
        margin-left: 0;
        margin-bottom: 13px;
        display: flex;
        align-items: center;
    }
    &__arrow {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        transition: transform linear 0.3s;
        position: relative;
        cursor: pointer;
        &--open {
            transform: rotateX(-180deg);
            transition: transform linear 0.3s;
        }
        svg {
            width: 12px;
            height: 7px;
        }
        path {
            fill: $text_primary;
        }
    }
}
@media (max-width: 667px) {
    .gr-mob-menu {
        // position: fixed;
        // width: 100%;
        // height: 100%;
        // background-color: rgba(0, 0, 0, 0.411);
        // top: 0;
        // z-index: 1000;

        &__content {
            width: 305px;
            &--show {
            }
        }
        &__header {
        }
        &__logo {
            path {
            }
        }

        &__close {
            svg {
            }
            path {
            }
        }
        hr {
        }
        &__callback {
            .gr-callback__link {
                &:hover {
                }
            }
        }
        &__info {
            svg {
            }
        }
        &__info-item {
        }
        &__list {
        }
        &__link {
            &:hover {
            }
            &.router-link-active {
                &::before {
                }
            }
        }

        &__child-list {
        }
        &__child-link {
            &:hover {
            }
        }
        &__child__item {
        }
        &__item {
        }
        &__arrow {
            &--open {
            }
            svg {
            }
            path {
            }
        }
    }
}
