.gr-nav {
    &__list {
        &--footer {
            flex-direction: column;
        }
        display: flex;
        margin-left: auto;
        list-style: none;
        margin: 0;
        padding: 0 0 10px 6px;
    }
    &__item {
        font-size: 14px;
        margin-right: 16px;
        position: relative;
        display: flex;
        align-items: center;
    }
    &__link {
        &--index {
            color: $white;
            &.router-link-active {
                &::before {
                    background-color: $white !important;
                }
            }
            .gr-nav__child-list {
                background-color: transparent;
            }
        }
        color: $text_primary;
        text-decoration: none;
        font-weight: 400;
        position: relative;
        line-height: 20px;
        &:hover {
            opacity: 0.5;
        }
        &.router-link-active {
            font-weight: 700;
            &::before {
                position: absolute;
                content: "";
                width: 36px;
                height: 6px;
                display: block;
                bottom: -12px;
                background-color: $text_primary;
            }
        }
    }
    &__child-list {
        // width: 500px;
        width: fit-content;
        position: absolute;
        top: 34px;
        list-style: none;
        padding: 8px;
        background-color: $background_2;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        color: $white;
        &--index {
            background-color: transparent;
        }
        &--error {
            background-color: transparent;
        }
    }
    &__child-item {
        line-height: 15px;
        font-size: 12px;
    }
    &__child-link {
        white-space: nowrap;
        color: $white;
        text-decoration: none;
        font-weight: 400;
        position: relative;
        &:hover {
            opacity: 0.5;
        }
        &--index {
            color: $white;
        }
    }
    &__header {
        display: none;
    }
    &__arrow {
        &--index {
            path {
                fill: $white !important;
            }
        }
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        transition: transform linear 0.3s;
        cursor: pointer;
        &--open {
            transform: rotateX(-180deg);
            transition: transform linear 0.3s;
        }
        svg {
            width: 12px;
            height: 7px;
        }
        path {
            fill: $text_primary;
        }
    }
}
