.gr-service {
    display: grid;
    grid-template-columns: repeat(auto-fill, 592px);
    justify-content: space-between;
    margin-bottom: 160px;
    &__description {
        padding: 32px 154px 32px 32px;
        min-height: 448px;
        display: flex;
        height: fit-content;
        flex-direction: column;
        &--green {
            color: $white;
            background-color: $background_2;
            background-image: url(@/assets/img/gr-services/cone.png);
            background-repeat: no-repeat;
            background-position: right 24px bottom 24px;
        }
        &--white {
            border-left: 5px solid $background_2;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        margin-bottom: 16px;
    }
    &__text {
        margin-bottom: 16px;
    }
    &__images {
        display: grid;
        grid-template-columns: repeat(auto-fill, 288px);
        align-content: space-between;
        justify-content: space-between;
        align-self: stretch;
        img {
            width: 288px;
            height: 216px;
        }
    }
    &__link {
        margin-top: auto;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: 700;
        svg {
            margin-right: 8px;
        }
        span {
            // text-decoration: underline;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0.02em;
        }
    }
}
@media (max-width: grid-width($desktop)) {
    .gr-service {
        grid-template-columns: repeat(auto-fill, 484px);
        margin-bottom: 120px;
        &__description {
            padding: 24px 32px;
            min-height: 362px;
        }
        &__images {
            grid-template-columns: repeat(auto-fill, 234px);
            img {
                width: 234px;
                height: 175px;
            }
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .gr-service {
        grid-template-columns: repeat(auto-fill, 357px);
        margin-bottom: 100px;
        &__description {
            padding: 24px 12px;
            min-height: 362px;
        }
        &__images {
            grid-template-columns: repeat(auto-fill, 170px);
            row-gap: 16px;
            align-self: flex-start;
            img {
                width: 170px;
                height: 127px;
            }
        }
    }
}
@media (max-width: grid-width($tablet)) {
    .gr-service {
        grid-template-columns: repeat(auto-fill, 100%);
        margin-bottom: 80px;
        &__description {
            padding: 0;
            min-height: auto;
            &--green {
                background: none;
                color: $text_primary;
            }
            &--white {
                border: none;
                padding: 0;
            }
        }
        &__images {
            grid-template-columns: repeat(auto-fill, 155px);
            row-gap: 16px;
            align-self: flex-start;
            width: 100%;
            img {
                width: 155px;
                height: 116px;
            }
        }
        &__link {
            font-size: 16px;
            padding: 16px 0;
            line-height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}
