.gr-weather {
    color: $text_primary;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 8px;
    fill: $text_primary;
    &--index {
        color: $white;
        fill: $white;
    }
    &--error {
        color: $white;
        fill: $white;
    }
    &__temperature {
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: inherit;
    }
    &__icon {
        width: 30px;
        height: 30px;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: inherit;
        svg {
            width: 28px;
            height: 28px;
            fill: inherit;
            path {
                fill: inherit;
            }
        }
    }
}
@media (max-width: grid-width($desktop)) {
    .gr-weather {
        color: $text_primary;
        &__icon {
            width: 25px;
            height: 25px;
            margin-right: 8px;
        }
        &--index {
            color: $text_primary;
            fill: $text_primary;
        }
        &--error {
            color: $white;
            fill: $white;
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .gr-weather {
        display: none;
    }
}
