.gr-link {
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.02em;
    &--white {
        color: $white;
        &:hover {
            color: #ffffffa1;
        }
        &:active {
            color: #146949;
        }
        &:disabled {
            color: $text_disabled;
        }
        &:focus {
            outline: none;
        }
    }
    &--green {
        color: $primary_green;
        &:hover {
            color: #146949;
        }
        &:active {
            color: #022619;
        }
        &:disabled {
            color: $text_disabled;
        }
        &:focus {
            outline: none;
        }
    }
}
