.gr-logo {
    width: 191px;
    .stroke {
        stroke: $primary_green;
        stroke-width: 2px;
    }
    .fill {
        fill: $primary_green;
    }

    &--index {
        .stroke {
            stroke: $white;
            fill: $white;
        }
        .fill {
            fill: $white;
        }
    }
    &--error {
        .stroke {
            stroke: $white;
            fill: $white;
        }
        .fill {
            fill: $white;
        }
    }
    &--footer {
        width: 188px;
        .stroke {
            stroke: $white;
            fill: $white;
        }
        .fill {
            fill: $white;
        }
    }
}

@media (max-width: grid-width($desktop)) {
    .gr-logo {
        width: 230px;
        &--index {
            .stroke {
                stroke: $text_primary;
                fill: $text_primary;
            }
            .fill {
                fill: $text_primary;
            }
        }
        &--footer {
            width: 233px;
        }
        &--mob-menu {
            width: 158px;
            .stroke {
                stroke: $primary_green;
                fill: $primary_green;
            }
            .fill {
                fill: $primary_green;
            }
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .gr-logo {
        width: 170px;
        &--footer {
            width: 157px;
        }
    }
}
@media (max-width: grid-width($tablet)) {
    .gr-logo {
        width: 152px;
        &--footer {
            width: 320px;
        }
    }
}
