.gr-page-up {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #093e2a;
    right: 0;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-top: 48px;
}
