.gr-404 {
    &__html {
        background-color: $background_2;
    }
    &__header {
        margin-bottom: 110px;
    }
    &__content {
        margin: 0 auto;
        max-width: 700px;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(@/assets/img/gr-404/cone.png);
        background-repeat: no-repeat;
        background-position: center top -2px;
        padding-top: 68px;
    }
    &__code {
        font-size: 280px;
        font-weight: 700;
        line-height: 280px;
        letter-spacing: 0.02em;
        margin-bottom: -9px;
    }
    &__error {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        margin-bottom: 24px;
    }
    &__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 62px;
        letter-spacing: 0.02em;
        padding: 0 11px;
        text-align: center;
    }
}
@media (max-width: grid-width($desktop)) {
    .gr-404 {
        &__header {
            margin-bottom: 24px;
        }
        &__content {
            padding-top: 52px;
            background-size: 432px;
            background-position: center top 41px;
        }
        &__code {
            font-size: 200px;
            line-height: 244px;
            letter-spacing: 0.02em;
            margin-bottom: 13px;
        }
        &__error {
            font-size: 32px;

            line-height: 39px;
            letter-spacing: 0em;
            margin-bottom: 9px;
        }
        &__text {
            font-size: 16px;
            margin-bottom: 37px;
            line-height: 20px;
            letter-spacing: 0.02em;
        }
    }
}
@media (max-width: grid-width($laptop)) {
    .gr-404 {
        &__header {
            margin-bottom: 47px;
        }
        &__content {
            padding-top: 64px;
        }
        &__code {
            font-size: 180px;
            font-weight: 700;
            line-height: 219px;
            letter-spacing: 0.02em;
            margin-bottom: 23px;
        }
        &__error {
            font-size: 32px;

            line-height: 39px;
        }
        &__text {
            font-size: 16px;

            line-height: 20px;
        }
    }
}
@media (max-width: grid-width($tablet)) {
    .gr-404 {
        &__header {
            margin-bottom: 88px;
        }
        &__content {
            background: none;
        }
        &__code {
            font-size: 130px;
            line-height: 158px;
            letter-spacing: 0.02em;
            margin-bottom: -19px;
        }
        &__error {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
            margin-bottom: 18px;
        }
        &__text {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.02em;
            margin-bottom: 52px;
        }
        &__link {
            width: 320px;
        }
    }
}
